{% load socialaccount %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In - ConnectNovara</title>
</head>
<body>
    <div class="login-bg">
        <div class="login-card">
            <img src="{% static 'images/logo.png' %}" alt="Novara Logo" class="login-logo-img">
            <div class="login-main-message">
                Sign in with Google to email researchers seamlessly.
            </div>
            <div class="login-sub-message">
                Our product requires a Google login.      
            </div>
            <a href="{% provider_login_url 'google' method='oauth2' process='login' %}" class="google-signin-btn">
                <span class="google-icon">
                    <img src="{% static 'images/google.png' %}" alt="Google Logo">
                </span>
                Sign in with Google
            </a>
            <a href="{% url 'home' %}" class="back-btn-large">Back</a>
        </div>
    </div>
</body>
</html>
